@model IEnumerable<WebApplication1.Models.TblProcess>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>
    <a asp-action="Create">Create New</a>
</p>

@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Process Name")
                </th>
                <th>
                    @Html.DisplayName("Last Sequence")
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.VC_PROCESS_NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IN_LAST_SEQ)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-processId="@item.IN_PROCESS_ID">Edit</a>
                        <a asp-action="Details" asp-route-processId="@item.IN_PROCESS_ID">Details</a>
                        <a asp-action="Delete" asp-route-processId="@item.IN_PROCESS_ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@

<div class="container">
    <div class="card-deck">
        @foreach (var item in Model)
        {
            @*<div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="125" preserveAspectRatio="" xmlns="http://www.w3.org/2000/svg">
                    </svg>
                    <div class="card-body">
                        <h3 class="card-title">@item.VC_PROCESS_NAME</h3>
                        <p class="card-text">Description</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" asp-action="Details" asp-route-processId="@item.IN_PROCESS_ID">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
            <div class="col-md-4">
                <div class="card-header">
                    <h3>@item.VC_PROCESS_NAME</h3>
                </div>
                <img class="card-img-top" src="~/images/h1.jpg" />
                <div class="card-footer text-center">
                    <a asp-action="Edit" class="btn btn-primary" asp-route-processId="@item.IN_PROCESS_ID">Edit</a>
                    <a asp-action="Details"  class="btn btn-primary" asp-route-processId="@item.IN_PROCESS_ID">Details</a>
                    <a asp-action="Delete"  class="btn btn-danger" asp-route-processId="@item.IN_PROCESS_ID">Delete</a>
                </div>
            </div>
        }
    </div>
</div>
<style>
    .btn{
        width:75px;
    }
</style>
